<!DOCTYPE html>
<html ng-app="Contactapp"><!เพื่อให้รู้ว่าเป็น amgular js app>
  <head>
    <meta charset="utf-8">
    <title>Welcome angular JS </title>
        <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"><!แค่แสดงผลbootstrap ใส่แค่นี้ก็พอนะ>
  </head>
  <body ng-controller = "ListContactController">
    <div class = "container">

      <div ng-controller = "AddContactController">
        <form name="contactForm">
          <div class="form-group">
            <center><label for="message">TODOS </label><br/></center>
            <input type="text" name="message" class="form-control" placeholder="What needs to be done?" ng-model = "message"  required><br/>
          </div>
          <center><button class="btn btn-default" type="button" ng-click="add()" ng-disabled="contactForm.$invalid">Add </button></center>
        </form>
      </div>

      <div ng-controller = "ListContactController">
        <table class="table">
          <thead>
            <tr>
              <th>Checkbox</th>
              <th>Message</th>
              <th>State</th>
            </tr>
          </thead>

          <tbody>
          <tr ng-repeat="contact in contacts"> <!contact = ชื่ื่อตัวแปรของ loop, contacts =array ของ app.js>
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="checked" ng-init="checked=false">
                </label>
              </div>
            </td>
            <td>{{ contact.message }}</td>
            <td> </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
    <script src="node_modules/angular/angular.js" charset="utf-8"></script>
    <script src="app.js"></script>
    <!--<script src="node_modules/jquery/dist/jquery.min.js"></script>-->
    <!--<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>-->

  </body>
</html>
